h1{
  color: #11ec5b;
  background-color: red;
  font-family: Helvetica;
  font-size: 50px;
  padding: 20px;
  width: 68%;
  height:60px;
  border-radius: 15px;
}
.PARRAFOS{
text-align: center;
font-size: 25px;
border:15px;
border-style: solid;
border-color: rgb(237, 34, 34);
}


body{
  font-family: Helvetica;
  background-color:#199898;
  font-size: 25px;
}
